.git
.venv
**/__pycache__
.mypy_cache
.pytest_cache
.import_linter_cache
htmlcov
dev-library
library
runs
notebooks
docs
tests
scripts
*.md
!README.md
.pre-commit-config.yaml
.gitignore
config.toml
.env
.env.*
**/.env
**/.env.*
docker/*.env
**/roles.json
**/cluster.json
frontend/node_modules
build
bin
dist
